#content_image{
   justify-content: center;
   align-items: center;
   margin: auto;
}
#menu_lateral{
    position: fixed;
    float: left;
    height: 100%;
    background-color: #fff;
    border-right: 1px solid #2474BF;
    box-shadow: 0 0 25px rgba(0,0,0,0.25);
  }
  #boton_contenedor{
    margin-top: 40px;
  }
  #contenido_principal{
      margin-top: 30px !important;
      margin: auto;
      height: 100%!important;
      margin-bottom: 30px;
      /*background-color: #F1ECE9;*/
  }
  #imagen_fondo_sidenav{
      width: 100%;
      height: 100%;
  }
  #nav_mobile{
      margin-top: 30px;
      width: 25% !important;
  }
  #icono_menu{
      margin-top: 20px;
      font-size: 45px;
  }
  #icon{
      color: #fff;
  }
  #image_show{
    margin:auto;
    width:150px;
    height:170px;
    border-radius:50%;
  }
  #info_h5{
      font-size: 18px;
  }
  #info_p{
      font-size: 16px;
  }
  #label-form{
    font-size: 16px;
    color: #000000;
  }
  #menu_toggle{
      margin: 30px;
      font-size: 40px;
  }
  #nav_bar{
      height: 80px;
  }
  #user_imagen{
      margin: auto;
      width: 70px;
      height: 90px;
  }
  #titulo_card{
      text-align: center;
      font-size: 40px;
      margin-bottom: 20px;
      width: 100%;
  }
  #titulo_sidenav{
    margin-top: 20px;
  }
  #titulo_principal{
      font-size: 35px;
      color:#fff;
  }
  #item-menu{
    font-size: 35px;
}
#menu_lateral ul,
#menu_lateral ul li{
    float: left;
    width: 100%;
    margin-top: 15px;
    padding-left: 10px;
}
#menu_lateral ul li a h3{
    float: left;
    font: 20px 'Fredoka One', cursive;
    color: #000000;
}

#contenedor_fecha {
    height: 30% !important;
}
#contenedor_dia{
    margin: auto;
}



.dia-label{
    font-size: 80px;
    text-align: center;
    font-weight: 900;
    margin-bottom: 0;
}
.mes-label{
    font-size: 35px;
    margin-top: 5px;
    margin-bottom: 0;
    font-weight: 500;
}
.anio-label{
    font-size: 35px;
    margin-bottom: 0;
    font-weight: 500;
}